body {
    background-color: rgb(49, 72, 72);
    color:white;
    text-align: center;
    vertical-align: middle;
    margin-top: 60px;
    background-image: url("background.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

ul {
    margin-top: 130px;
}

.addTask {
    margin-top: 110px;
}
p {
    display:inline;
}

input[type="text"]
{
    background: rgba(33, 46, 46, 0.5);
    border: none;
    color: white;
    border-radius: 5px;
}

.button {
    background: rgba(33, 46, 46, 0);
    border: none;
    color: white;
    border-radius: 20px;
    width: 15px;
    /* position: absolute; */
}

/* #delete {
    
} */

#edit {
    margin-left:13 px;
}

.material-icons {
    font-size: 15px !important;
}