<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Planetarium</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
</head>
<body>
    <script>
        const planetTex = "{% static 'textures/planet1.jpg' %}";
        const skyboxTex = "{% static 'textures/skybox.jpg' %}";
        const texDir = "{% static 'textures' %}";
        numPlanetTex = 3;

        loadedStruct = null;
        loadedName = null;
        loadedSurface = null;
    </script>
    {% if planet_data %}
    <script>
    loadedStruct = '{{ planet_data.structures|safe }}';
        loadedName = '{{ planet_data.name }}';
        loadedSurface = '{{ planet_data.surface }}';
    </script>
    <img id="loadedTex" src='..{{ planet_data.texture.url }}' style="display: none;" />
    {% endif %}

    <div id="info">
        <div>Planetarium by Cole Barker</div>
        <div id="editable-text">Click to Name Planet</div>
        <form id="edit-form">
            <input type="text" id="edit-input" name="text">
            <button type="submit" id="save-button">Save</button>
        </form>
    </div>
    <div id="menu">
        <div id="menuTabs">
            <button class="tab-button active" data-tab="pixelArt">Build</button>
            <button class="tab-button" data-tab="paint">Paint</button>
            <button class="tab-button" data-tab="extras">Worlds</button>
            <button class="tab-button" data-tab="settings">Settings</button>
        </div>
        <div id="pixelArtPage" class="menu-page active">
            <h3>Structure Builder</h3>
            <div id="pixelArtCanvas1" class="pixel-art-canvas"></div>
            <div id="pixelArtCanvas2" class="pixel-art-canvas"></div>
            <div id="pixelArtCanvas3" class="pixel-art-canvas"></div>
            <div id="pixelArtTools">
                <button id="pixelPaintTool" class="active-tool">Paint</button>
                <button id="pixelEraseTool">Erase</button>
            </div>
            <label for="pixelColorPicker">Pixel Color:</label>
            <input type="color" id="pixelColorPicker" value="#7393B3">
            <button id="clearPixelArt">Clear Pixel Art</button>
            <button id="clear">Clear Structures</button>
        </div>
        <div id="paintPage" class="menu-page">
            <h3>Paint Planet</h3>
            <canvas id="spotTexture"></canvas>
            <div class="tool-select">
                <button id="paintTool" class="active-tool">Paint</button>
                <button id="eraseTool">Erase</button>
            </div>
            <div class="history-buttons">
                <button id="undoButton">Undo</button>
                <button id="redoButton">Redo</button>
            </div>
            <label for="colorPicker">Color:</label>
            <input type="color" id="colorPicker" value="#3cb56a">
            <label for="brushSize">Brush Size:</label>
            <input type="range" id="brushSize" min="1" max="50" value="10">
            <label for="opacity">Opacity:</label>
            <input type="range" id="opacity" min="0" max="100" value="80">
            <button id="clearSpots">Clear</button>
            <button id="downloadSpots">Download</button>
        </div>
        <div id="settingsPage" class="menu-page">
            <h3>Settings</h3>
            <button id="toggleSpots">Hide Paint</button>
            <label for="rotationSpeed">Speed:</label>
            <input type="range" id="rotationSpeed" min="0" max="2" step=".25" value="1" />
            <br />
            <label for="textureSelect">Surface:</label>
            <input type="range" id="textureSelect" min="1" max="3" step="1" value="1" />
        </div>
        <div id="extrasPage" class="menu-page">
            <h3>Worlds</h3>
            <button id="save">Save</button>
            <button id="worlds">Browser</button>
        </div>
    </div>
    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <span class="close-btn" id="closeBtn">&times;</span>
            <div id="pageContent">
                <p class="loading">Loading content...</p>
            </div>
            <div class="page-nav">
                <button id="prevBtn" disabled>Previous</button>
                <span id="pageIndicator">Page 1 of 3</span>
                <button id="nextBtn">Next</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/saving.js' %}"></script>
    <script src="{% static 'js/ui.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</!DOCTYPEhtml>