<html>
    {% load static %}
<head>
    <title>Planetarium by Cole Barker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="{% static 'js/textureManager.js' %}"></script>
    <script src="{% static 'js/sceneManager.js' %}"></script>
    <script src="{% static 'js/pixelEditor.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/saving.js' %}"></script>
</head>
<body>
    <div id="info">Planetarium by Cole Barker</div>
    <div id="optionsPanel">
        <label>
            Sphere Color:
            <input type="color" id="sphereColor" value="#ffffff" />
        </label>
        <label>
            Rotation Speed:
            <input type="range" id="rotationSpeed" min="0" max="5" step="0.1" value="1" />
        </label>
        <label>
            Cube Size:
            <input type="range" id="cubeSize" min="0.1" max="3" step="0.05" value="1" />
        </label>
        <br>
        <hr>
        <label>
            <button class="active" id="draw">Draw</button>
            <button id="erase">Erase</button>
            Pixel Color:
            <input type="color" id="colorPicker" value="#7393B3" />
        </label>
        <br>
        <div style="display: flex; gap: 10px;">
            <div>
                <h3>Layer 1 (Front)</h3>
                <canvas id="pixelCanvas1" width="100" height="100" style="border:1px solid #000000;"></canvas>
            </div>
            <div>
                <h3>Layer 2 (Middle)</h3>
                <canvas id="pixelCanvas2" width="100" height="100" style="border:1px solid #000000;"></canvas>
            </div>
            <div>
                <h3>Layer 3 (Back)</h3>
                <canvas id="pixelCanvas3" width="100" height="100" style="border:1px solid #000000;"></canvas>
            </div>
        </div>
        <div id="texturePanel">
            <h3 style="color: white; margin-top: 0;">Sphere Texture</h3>
            <canvas id="textureCanvas" width="128" height="128"></canvas>
            <input type="color" id="texColorPicker" value="#228B22">
            <input type="range" id="brushSize" min="1" max="1000" value="100">
        </div>
    </div>
</body>
</html>
